<div class="row m-2">
  <div class="col-6">
    <small class="text-muted float-left"><h6>Total articles : {{ totalArticles }}</h6></small>
  </div>
  <div class="col-6 text-right">
    <div class="dropdown show">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Articles per page
      </button>
  
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a [ngClass]="{active : pageSize == 5 }" class="dropdown-item" href="#" (click)="updateAricleSize($event)">5</a>
        <a [ngClass]="{active : pageSize == 10 }" class="dropdown-item" href="#" (click)="updateAricleSize($event)">10</a>
        <a [ngClass]="{active : pageSize == 15 }" class="dropdown-item" href="#" (click)="updateAricleSize($event)">15</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card mb-2" *ngFor="let article of articleList">
      <div class="card-header">
        <a href='{{ article.url }}' target="_blank">{{ article.title }}</a>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ article.description }}</p>

          <p class="card-text">
            <small class="text-muted float-left">Source : {{ article.source.name }}</small>
            <small class="text-muted float-right">Updated : {{ moment(article.publishedAt).fromNow() }}</small>
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<!-- Pagination content -->
<div class="row justify-content-center">
  <nav aria-label="Page navigation example" *ngIf="totalArticles > pageSize">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled' : (currentPage <= 1)}" (click)="loadNextPage(currentPage - 1)">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" [ngClass]="{'active' : (i == (currentPage - 1))}" 
        *ngFor="let item of numberToArray(totPages); let i=index" (click)="loadNextPage((i+1))">
        <a class="page-link">{{ (i+1) }}</a>
      </li>
      
      <li class="page-item" [ngClass]="{'disabled' : (currentPage >= totPages)}" (click)="loadNextPage(currentPage + 1)">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>