<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>News API</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" [routerLink]="['/']">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item" [ngClass]="{'active bg-secondary rounded' : (selectedIndex == 0)}">
          <a class="nav-link" [routerLink]="['/topNews']" (click)="addActiveStyle(0)">Top Headlines</a>
        </li>
        <li class="nav-item" [ngClass]="{'active bg-secondary rounded' : (selectedIndex == 1)}">
          <a class="nav-link" [routerLink]="['/publishers']" (click)="addActiveStyle(1)">Publishers</a>
        </li>
        
      </ul>
    </div>
  </nav>